FERRETA_TELEGRAM_BOT_TOKEN=
FERRETA_TELEGRAM_CHAT_IDS=
FERRETA_TELEGRAM_WEBHOOK_SECRET=
FERRETA_GTM_ID=
FERRETA_GA4_ID=
FERRETA_META_PIXEL_ID=
FERRETA_CRM_WEBHOOK=
FERRETA_NOVA_POSHTA_API_KEY=
FERRETA_PAYMENT_PROVIDER=
